* {
  font-family: 'Poppins', sans-serif;
}

.active{
    background-color: #ffc107 !important;
}
.nav-link{
    color: black !important;
}
.nav-link.active, .footer{
    color: white !important;
}
.text-yellow, text-yellow:hover{
    color: #ffc107 !important;
    text-decoration: none;
}

.text-white{
    color: white !important;
}

.header{
    padding-left: 10% !important;
    padding-right: 10% !important;
}
/* .footer{
    background-color: rgba(0, 0, 0, 0.768) !important;
    color: white !important;
} */
.back {
    width: 100%;
    /* position: absolute; */
    top: 0;
    bottom: 0;
  }

  .div-center {
    width: 350px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 200px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    /* border-bottom: 2px solid #ccc; */
    display: table;
  }

  .btn-custom, .btn-custom:hover{
    background-color: #ffc107;
    color: black;
    font-weight: 500;
    border: 2px solid #ffc107;
  }

  div.content {
    display: table-cell;
    vertical-align: middle;
  }

  .head-text{
    font-weight: 600;
  }


/*Checkboxes styles*/
input[type="radio"] { display: none; }

input[type="radio"] + label {
  display: block;
  position: relative;
  margin-bottom: 20px;
  font: 12px/16px 'Poppins', sans-serif;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="radio"] + label:last-child { margin-bottom: 0; }

input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  color: #ffc107;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="radio"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border: 1px solid #ffc107;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

